:root{
  --primary-color:#e8edf3;
  --secondary-color:#e6cf8b;
  --cta-color:#b56969;        
  --text-color:#22264b;
}


html{
  box-sizing: border-box;
  @include for-phone-only {
    font-size: 45%;
  }
  @include for-tablet-portrait-up {
    font-size: 50%;
  }
  @include for-tablet-landscape-up {
    font-size: 55%;
  }
  @include for-desktop-up {
    font-size: 62.5%
  }
  @include for-big-desktop-up {
    font-size: 70%
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

//Two Necesary Classes for the change of route
/***************************************************/
.screen{                                           //
  width: 100vw;                                    //
}                                                  // 
                                                   // 
.switchRule {                                      //
  position: relative;                              //
                                                   //
  & > div {                                        //
    position: absolute;                            //
  }                                                //
}                                                  //
/***************************************************/