// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&subset=latin-ext');
// Font Variables
:root{
  --header-font: 'Lato', sans-serif;
  --body-font: 'Montserrat', sans-serif;
}

body{
  font-family: var(--body-font);
}

@mixin primaryText{
  font-family: var(--header-font);
}

@mixin secondaryText{
  font-family: var(--body-font);
}
