.hide{
  display: none !important;
}

.titulo{
    font-family: var(--header-font);
    color: var(--cta-color);
    text-transform: capitalize;
    letter-spacing: .5rem;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}