.login{
  @include flexCenter;
  width: 100vw;
  height: 100vh;

  &__titulo{
    font-family: var(--header-font) !important;
    text-transform: uppercase !important;
    color: var(--text-color) !important;
    letter-spacing: .5rem;
    font-size: 2rem !important;
    font-weight: 300 !important;
  }

  &__inputs{
    margin-bottom: 2rem;
  }
}
