.calculadora{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  &__titulo{
    font-family: var(--header-font);
    color: var(--cta-color);
    text-transform: capitalize;
    letter-spacing: .5rem;
    font-size: 4rem;
    font-weight: 400;
  }

  &__destinoInicial{
    display: flex;
    align-items: center;

    &__inputContainer{
      margin-right: auto;

      &__input{
        font-family: var(--body-font) !important;
        color: var(--text-color) !important;
        text-transform: uppercase !important;
        letter-spacing: .5rem !important;
        text-align: center !important;
        font-size: 2rem !important;
        font-weight: 300 !important;
        
      }
    }


    &__controls{
      &__icon{
        fill: var(--secondary-color) !important;
        height: 8rem !important;
        width: auto !important;
        padding: 1rem;
      }

      &__button{
        padding: 1rem;
        font-family: var(--body-font) !important;
        color: var(--text-color) !important;
        font-size: 2rem !important;
        font-weight: 300 !important;
        width: 50vw;
      }
    }

  }
}