.calculadora{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  
  &__header{
      font-family: var(--header-font);
      color: var(--cta-color);
      text-transform: capitalize;
      letter-spacing: .5rem;
      font-size: 2rem;
      font-weight: 400;
      display: flex;

    &__titulo{
      margin-right: auto;
    }

    &__resultado{
      margin-right: 4rem;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  &__destinoInicial{
    display: flex;
    align-items: center;

    &__inputContainer{
      margin-right: auto;

      &__input{
        font-family: var(--body-font) !important;
        color: var(--text-color) !important;
        text-transform: uppercase !important;
        letter-spacing: .5rem !important;
        text-align: center !important;
        font-size: 2rem !important;
        font-weight: 300 !important;
      }
    }

    &__controls{
      &__icon{
        fill: var(--secondary-color) !important;
        height: 8rem !important;
        width: auto !important;
        padding: 1rem;
      }

      &__button{
        padding: 1rem;
        font-family: var(--body-font) !important;
        color: var(--text-color) !important;
        font-size: 2rem !important;
        font-weight: 300 !important;
        width: 50vw;
      }
    }
  }

  &__resultados{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__button{
      margin-right: auto !important;
    }
    &__loading{
      margin-right: 2rem;
    }

    &__contenedorEtiquetas{
      margin-right: 2rem;
      transition: all 3s;
      
      &__texto{
        font-family: var(--header-font);
        color: var(--cta-color);
        text-transform: capitalize;
        letter-spacing: .5rem;
        font-size: 2rem;
        font-weight: 200;
      }
    }

    &__contenedorResultados{
      margin-right: 10rem;
      
      &__res{
        font-family: var(--header-font);
        color: var(--secondary-color);
        text-transform: capitalize;
        letter-spacing: .5rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }

  &__resultadosTotales{
    @include flexCenter;
  }

  &__extra{
    @include flexCenter;
    flex-wrap: wrap;

    &__container{
      
      &__input{
        font-family: var(--body-font) !important;
        color: var(--text-color) !important;
        text-transform: uppercase !important;
        letter-spacing: .5rem !important;
        text-align: center !important;
        font-size: 2rem !important;
        font-weight: 300 !important;
        margin: 1rem;
      }
    }
  }
}